.carousel-caption {
    
    font-style: bold;
   
}

.carousel-caption h1 {
    font-size: 4em;
    font-style: bold;
}

.carousel-control-prev-icon {
    size: 3rem;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.featurette-heading a {
    text-decoration: none;
    color: yellow;
}

.text-muted a {
    color: lightsalmon;
}

#jstutorialWindowBtn, #jstutorialPromptBtn {
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.bold {
    font-weight: 400;
}